@import url("http://fonts.googleapis.com/css?family=Varela");
@import url("http://fonts.googleapis.com/css?family=Asap");


html, body { margin:0; padding:0; color:white; overflow:hidden } 

* { 
  font-family: 'Asap', sans-serif;
} 

body { 
  width:1920px; height:1080px;
  background-color:rgb(80,140,90);
  background: linear-gradient(-45deg, white, rgba(255,255,255,0), darkblue);
  background: -moz-radial-gradient( 50% 0%, circle , white, rgb(108,143,100));
} 

.viewport2 { 
  width:1920px; height:1080px;
} 

.datetime  { 
  font-size:200%;
  font-weight:bold;
  color:white;
  text-align:right;
  text-shadow:3px 3px 3px black;
} 

.inner { 
  margin-right:20px; 
  margin-top:20px;
  background-color:rgba(255,255,255,1);
  border-radius:25px;
  overflow:hidden;
} 

.inner2 { 
  margin-right:0;
  margin-top:20px;
  background-color:rgba(255,255,255,1);
  border-radius:25px;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
  overflow:hidden;
} 
